<header>
  <img src="assets/cat-logo.png">
  Cat World
</header>

<div class="action-box">
  <button class="button-style" (click)="showCats = !showCats">{{showCats ? 'Hide Cats' : 'Show Cats'}}</button>
  <button class="button-style" (click)="count=count+1;getCats();">+1 Card</button>
</div>

<section class="contents" [style.maxWidth]="containerWidth" (window:resize)="calculateContainerWidth()">
  <div *ngFor="let cat of cats; let i = index;"
    class="card" [class.active]="activeCard==i" [class.inactive]="activeCard!=i"
    (click)="activeCard!=i ? activeCard=i : activeCard=-1">
      <div class="img-count">{{activeCard==i ? i+1 : ''}}</div>
      <img *ngIf="showCats" [src]="cat" class="img-container">
  </div>
</section>